:root {
	--main: #f0f921;
	--secondary: #5a02a3;
	--tertiary: #0000f1;
	--main-background: #111111;
	--margin-shadow: #4f4f4f 4px 4px 12px, #2e2e2e 4px 4px 12px;
	--main-transition: all 0.3s ease-in-out;
	--ui-interactive-color: #2186f4;
}

body {
	margin: 0;
	padding: 1rem;
	background-color: var(--main-background);
	max-width: 100vw;
	overflow-x: hidden;
}

#react-entry-point {
	margin: 64px 1rem 5rem 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

a {
	color: var(--main);
	text-decoration: none;
	transition: var(--main-transition);
}
a:hover {
	color: #fff;
	transition: var(--main-transition);
}

.navbar {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	opacity: 1;
	z-index: 99;
}

.navbar .container {
	max-width: none;
	padding: 0 1rem;
}
.navbar * {
	color: #000 !important;
}

.navbar-nav a {
	color: #000 !important;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}
.navbar-nav a:hover {
	color: var(--secondary) !important;
	transform: translateY(-3px);
}

.radio-group .form-check {
	padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}
/* #matrix-in-motion-layout{} */

.navbar-brand {
	font-weight: 600;
}

#matrix-slider-container-outer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
#matrix-slider-container-text {
	max-width: 50%;
	padding: 0.5rem;
}

@media screen and (max-width: 1200px) {
	#matrix-slider-container-outer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

#definition-title-container {
}

.markdown-definition p {
	margin: 0;
}

#definition-title-container:hover #title-text-underline {
	background-color: var(--main);
}

#title-text-underline {
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}
#title-text-underline:hover {
	background-color: var(--main);
}

#home-page-definition-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-toggler-icon {
	color: #000 !important;
}

.rc-slider-dot-active {
	border-color: var(--ui-interactive-color);
	background-color: var(--main-background);
}
.rc-slider-track {
	background-color: var(--ui-interactive-color);
}
.rc-slider-handle {
	background-color: var(--main-background);
	border-color: var(--ui-interactive-color);
}
