:root {
	--main: #f0f921;
	--secondary: #5a02a3;
	--tertiary: #0000f1;
	--main-background: #111111;
	--margin-shadow: #4f4f4f 4px 4px 12px, #2e2e2e 4px 4px 12px;
	--main-transition: all 0.3s ease-in-out;
}

body {
	margin: 0;
	padding: 1rem;
	background-color: var(--main-background);
}

.react-entry-point {
	margin: 64px 1rem 5rem 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

a {
	color: var(--main);
	text-decoration: none;
	transition: var(--main-transition);
}
a:hover {
	color: #fff;
	transition: var(--main-transition);
}

.navbar {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}

.navbar .container {
	max-width: none;
	padding: 0 1rem;
}
